<%- include("partials/header") %>
<style>
	body {
    background: url(https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=614&q=80);
	background-attachment: fixed;
	}
	.display-4 {
    font-weight: 900;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	}
	.container {
		width: 85rem 
	}
}
</style>
  <nav class="navbar navbar-expand navbar-light fixed-top bg-light" style="background-color: #232323;">
        <a class="navbar-brand" style="font-size:5vmin;" href="/">Home</a>
        	<div class="navbar-collapse collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/contact" style="font-size:5vmin;">Contact</a>
					</li>
				</ul>
        	</div>
    </nav>

	
		

<div class='container'>
	<div class="jumbotron jumbotron-fluid" style="margin-top: 9%;">
		<h1 class="display-4" style="text-align: center;">
			Drake Sadosky
		</h1>
		<hr class="my-4">
		<h2 class='display-4' style="text-align: center;">
			drake.sadosky12@gmail.com
		</h2>
		<hr class="my-4">
		<h3 class='display-4' style="text-align: center;">
			<a href="https://github.com/duufi">GitHub</a>
		</h3>
	</div>
</div>

<%- include("partials/footer") %>